.mastercontainer {
    display: flex;
    align-items: flex-start;
    padding: 70px;
    gap: 60px;
  }
  
  .additemform {
    width: 25%;  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
  }
  
  .additemform h4 {
    margin-bottom: 15px;
  }
  
  .additemform label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .additemform input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .additemform button {
    width: 100%;
    padding: 10px;
    background-color:#38383e;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .additemform button:hover {
    background-color:#232327;
  }
  
  
  .itemlist {
    width: 30%;  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
  }
  
  .itemlist h4 {
    margin-bottom: 15px;
  }
  
  .itemlist table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .itemlist th, .itemlist td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;

  }
  
  .itemlist th {
  
    background-color:#38383e;
    color: white;
    font-weight: 500;
  }
  
  .trEven {
    background-color: #f5f5f5;
  }


  .actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; 
}

.actionButtons button {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
}

.updateBtn {
  background-color: #2985c1;
  color: white;
  font-weight: bold;
}

.updateBtn:hover {
  background-color: #307aae;
}

.cancelBtn {
  background-color: #ce2626;
  color: #ebdfdf;
  font-weight: bold;
}

.cancelBtn:hover {
  background-color: #cb2d2d;
}
