.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.formSection {
  flex: 1;
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-right: 5px solid #2d2d2f;
}

.tableSection {
  flex: 2;
}

.table {
  width: 95%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-left: 2rem;
}

.table th {
  background: #38383e;
  color: white;
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 6px;
}  


.filterSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

